/* Global */

/* ************* LOGIN PAGE ******************** */

/* ************* MAIN PAGE ******************** */

.mainBody h1 {
  text-align: center;
}
.mainBody {
  background-image: url("./img/block.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: left;
  left: 0;
  padding: 0;
  margin: 0;
}
.justify {
  width: 60%;
  margin: 0 auto;
}
.navbar {
  font-size: 30px;
  font-weight: bolder;
}

.logoImg {
  width: 33%;
}
.navLink {
  text-decoration: none;
  height: 100%;
  color: black;
  padding-right: 60px;
  transition: 0.8s;
}

.navLinkName {
  transition: 0.8s;
  /* padding-bottom: 50px; */
}
.banner {
  height: 400px;
  display: block;
  width: 100%;
  /* border: 1px solid black; */
}
.leftBanner {
  float: left;
  width: 44%;
  height: 100%;
}
.rightBanner {
  float: left;
  width: 56%;
  height: 100%;
  /* background-image: url("./img/bgg.png"); */
}

.colorBlock {
  position: fixed;
  width: 150px;
  background-color: #3ab6ae;
  top: 220;
  left: 0;
  border-radius: 50%;
}
.bannerImg {
  float: right;
  width: 74%;
  padding-right: 200px;
}
.bannerText {
  /* font-family: "Bebas Neue", cursive; */
  /* font-size: 80%; */
  margin-top: 65px;
  margin-left: 95px;
  font-weight: bold;
  margin: 0 auto;
}
.bannerText h2 {
  padding-top: 55px;
  padding-left: 75px;
  font-family: "Bebas Neue", cursive;
  font-size: 105px;
  line-height: 1;
}
.textColor {
  color: #3ab6ae;
}
.favLink {
  padding-right: 25px;
  text-decoration: none;
}
.sliderContainer {
  display: block;
  margin: 0 auto;
  border: 2px solid black;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 15px;
  margin-top: 65px;
  padding: 45px;
  height: 200px;
  overflow: hidden;
  width: 55%;
}
.carousel {
  display: block;
  width: 70%;
}
.savedItem {
  border: 2px solid black;
  border-radius: 18px;
  text-align: center;
  background-color: white;
  width: 55%;
  margin: 0 auto;
  padding-bottom: 200px;
}
.searchBar {
  margin: 0 auto;
  width: 85%;
  height: 110px;
  margin-top: 65px;
}
.searchBar input {
  width: 100%;
  background-color: white;
  height: 85px;
  font-size: 19px;
  text-align: center;
  border-radius: 15px;
}
.favLink {
  text-decoration: none;
  padding-bottom: 100px;
}
.recipeGroup {
  color: black;
}
.recipeLink {
  text-decoration: none;
}
.resultList {
  width: 60%;
  margin: 0 auto;
}
.listItems {
  border: none;
}
.resultItem {
  text-align: center;
  background-color: white;
  font-size: 20px;
  font-weight: bolder;
}

/* ************* RECIPE PAGE ******************** */
.recipeBody {
  display: block;
}
.recipeTitle {
  text-align: center;
}
.leftSide {
  width: 50%;
  float: left;
}
.rightSide {
  width: 50%;
  float: right;
  /* border: 1px solid black; */
}
.btnContainer {
  margin: 0 auto;
  width: 30%;
  height: 78px;
}
.favBtn {
  width: 100%;
  height: 100%;
  margin-top: 45px;
}
.remBtn {
  width: 100%;
  height: 100%;
  margin-top: 60px;
}
.ytContainer {
  margin: 0 auto;
  width: 48%;
  margin-top: 80px;
}
.yt {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}
.ingContainer {
  width: 75%;
  margin: 0 auto;
  height: 250px;
  overflow: auto;
  margin-top: 45px;
}
.card-ing {
  max-height: 250px;
  overflow: auto;
  font-size: 25px;
  width: 100%;
}
.list-group-ing {
}
