/* Global */
* {
}
/* ************* LOGIN PAGE ******************** */

/* ************* MAIN PAGE ******************** */

.mainBody {
}
.mainBody h1 {
  text-align: center;
}
.sliderContainer {
  margin: 0 auto;
  border: 2px solid black;
  border-radius: 15px;
  padding: 45px;
  width: 55%;
}
.carousel {
  width: 70%;
}
.savedItem {
  border: 2px solid black;
  border-radius: 18px;
  text-align: center;
  background-color: white;
  width: 55%;
  margin: 0 auto;
}
.searchBar {
  margin: 0 auto;
  width: 85%;
  height: 110px;
  margin-top: 115px;
}
.searchBar input {
  width: 100%;
  background-color: white;
  height: 85px;
  font-size: 19px;
  text-align: center;
  border-radius: 15px;
}
.resultList {
  width: 60%;
  margin: 0 auto;
  /* border: 1px solid black; */
}
.resultItem {
  border-top: 2px solid black;
  padding: 20px;
  text-align: center;
  background-color: white;
  font-size: 20px;
  font-weight: bolder;
}

/* ************* RECIPE PAGE ******************** */
